.menu {
  width: 100%;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;

  .menu__items {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    font-size: 18px;
  }
}
